@charset "utf-8";
/* CSS Document */
*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  /*box-sizing: border-box;*/
  
}

header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/maldives.jpg');
  height: 140vh;
  background-size: cover;
  background-position: center;
}

body{
  overflow-x: hidden;
}

.main{
  max-width: 1200px;
  margin: auto;
  
}


ul {
  float: right;
  text-align:right;
  list-style-type : none;
  margin-top:30px;
}
ul li {
  display: inline-block;
  justify-content: space-between;
}
ul li a {
    text-decoration: none;
    color: white;
    padding: 4px 5px;
    position: relative;
    border: 1px solid transparent;
    transition: 0.5s ease;
    float: right;
    top: 0;
    left: 0;
    width: 72px;
    height: 17px;
    margin-top: 4px;
}
ul li a:hover{
  background-color:#fff;
  color:#000;
}

ul li.active a{
  background-color:#fff;
  color:#000;
}


.logo img{
float: left;
position:fixed;
top:0;
left:0;
width: 190px;
height: 77px;
margin-top: 10px;
margin-left: -17px;
}












a{
	text-decoration:none;
}
.social a{
	padding: 20px;
	color:#7b7c7c;
	position: relative;
  top: 50%;
	font-size:1.1rem;
}
#contact{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
}
.social{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.social a:hover{
	color:#000000;
	transition: all ease 0.3s;
}
.contact-box {
    background-color: #434445;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 37px 39px;
    margin-top: 62vh;
    box-shadow: 2px 0px 30px rgb(0 0 0 / 10%);
}
.c-heading h1{
	font-family: Roboto;
	color: #e7eef3;
	font-size: 2.5rem;
	/*font-weight: lighter;*/
	margin: 0px;
	padding: 0px;
}
.c-heading p{
	font-family: Roboto;
	color:#cecece;
	font-size: 0.8rem;
	/*font-weight: lighter;*/
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.c-inputs{
	margin: 15px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.c-inputs input{
	width:250px;
	height: 45px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(251,251,251,0.1);
	outline: none;
	margin: 10px 0px;
	padding: 10px;
	box-sizing: border-box;
	color: #f4f4f4;
	display: flex;
}
.c-inputs textarea{
	width:250px !important;
	height: 200px !important;
	outline: none;
	background-color: transparent;
	border:1px solid rgba(82,82,82,1);
	color: #f4f4f4;
	padding: 10px;
	font-size: 1.2rem;
	box-sizing: border-box;
}
.c-inputs button{
	width:200px;
	height: 40px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	letter-spacing: 1px;
}
.c-inputs input:focus{
	border-bottom: 1px solid rgba(252,252,252,1.00);
	transition: all ease 0.5s;
}
.c-inputs textarea:focus{
	border: none;
	border-bottom: 1px solid rgba(255,255,255,1.00);
	transition: all ease 0.5s;
	background-color: rgba(0,0,0,0.1);
}
.c-inputs button:active{
	transform: scale(1.02);
}
.map{
    filter: grayscale(0.2);
    box-shadow: 2px 2px 30px rgb(0 0 0 / 20%);
    border: 2px solid #FFFFFF;
    margin-top: 48.1vh;
    margin-left:-0.1vh;
    height: 78vh;
}



@media(max-width:1100px){
	.map{
		display: none;
	}
}
@media(max-width:450px){
	.social{
		display: none;
	}
	.contact-box{
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
	}
	#contact{
		position: static;
		transform: translate(0,0);
		width:100%;
		height: 100vh;
		box-sizing: border-box;
	}
	.c-heading h1{
		font-size: 2.2rem;
		text-align: center;
	}
	
}
 
 /*------------------------------------------------------------------Footer-----------------------------------------------------------------------------------*/
 
 /*-----------------------------------------------------------------Footer----------------------------------------------------------------------------*/

.footer-about2 {
    background: #333;
    /*bottom: 0;*/
    /*position: absolute;*/
    /*margin-top: 100vh;*/
    /*margin-left: 0%;*/
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
    box-sizing: border-box;
    width: 100vw;
    text-align: left;
    min-height: calc(100vh - 768px -125px);
    height: 279px;
    font: bold 16px sans-serif;
    padding: 51px 21px;
}




.footer-about2 .footer-left,
.footer-about2 .footer-center,
.footer-about2 .footer-right{
	display: inline-block;
	vertical-align: top;
}

 /*Footer left*/

.footer-about2 .footer-left{
	width: 40%;
}

 /*The company logo*/

.footer-about2 h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-about2 h3 span{
	color:  lightseagreen;
}

 /*Footer links*/

.footer-about2 .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-about2 .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-about2 .footer-company-name{
	color:  white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

 /*Footer Center*/

.footer-about2 .footer-center{
	width: 35%;
}

.footer-about2 .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-about2 .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-about2 .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-about2 .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-about2 .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-about2 .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-about2 .footer-links .link-1:before {
  content: none;
}

 /*Footer Right*/

.footer-about2 .footer-right{
	width: 20%;
}

.footer-about2 .footer-company-about{
	line-height: 15px;
	color:  white;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-about2 .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-about2 .footer-icons{
  margin-top:5px;
}

.copyright-fruit{
  font: bold 16px sans-serif;
  text-align: center;
  color:  #ffffff;
  margin-top: 10px;
  
}
