*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  /*box-sizing: border-box;*/
  
}

header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/maldives.jpg');
  height: 140vh;
  background-size: cover;
  background-position: center;
}
ul {
  float: right;
  list-style-type : none;
  margin-top:30px;
}
ul li {
  display: inline-block;
  justify-content: space-between;
}
ul li a {
    text-decoration: none;
    color: white;
    padding: 4px 5px;
    border: 1px solid transparent;
    transition: 0.5s ease;
    float: right;
    top: 0;
    left: 0;
    width: 72px;
    height: 17px;
    margin-top: 4px;
}
ul li a:hover{
  background-color:#fff;
  color:#000;
}

ul li.active a{
  background-color:#fff;
  color:#000;
}


.logo img{
  float: left;
/*position:fixed;*/
top:0;
left:0;
width: 190px;
height: 77px;
margin-top: 10px;
margin-left: -88px;
}
  
.main{
  max-width: 1200px;
  margin: auto;
}

.title{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color:white;
  font-size:60px;
}

.button{
  position:absolute;
  top: 60%;
  left:50%;
  transform: translate(-50%,-50%);
}

.btn{
  border:1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition:0.5s ease;
}

.btn.active {
  background-color:#fff;
  color:#000;
}
  

.btn:hover {
  background-color: #fff;
  color: #000;
}


/*-------------------------------------------------------------------About body-------------------------------------------------------------------------------*/

.title-about{
  color: #FFFFFF;
  text-align: center;
  padding-top:24vh;
}

.para-about {
    color: #ffffff;
    background: transparent;
    background-color: #4b7b4d;
    text-align: center;
    margin-top: 4vh;
    padding: 2vw;
    width: 1235px;
    height:95vh;
    margin-left: 29px;
}

p {
  text-align:left;
}

.arrow ul li{
  list-style-type: square;
  text-align:left;
}















/*-------------------------------------------------------------------Footer--------------------------------------------------------------------------------*/

.footer-about2 {
    background: #333;
    bottom: 0;
    /* position: absolute; */
    margin-top: 0vh;
    margin-left: 0%;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
    box-sizing: border-box;
    width: 100vw;
    text-align: left;
    min-height: calc(100vh - 768px -125px);
    height: 279px;
    font: bold 16px sans-serif;
    padding: 51px 21px;
}




.footer-about2 .footer-left,
.footer-about2 .footer-center,
.footer-about2 .footer-right{
	display: inline-block;
	vertical-align: top;
}

 /*Footer left*/

.footer-about2 .footer-left{
	width: 40%;
}

 /*The company logo*/

.footer-about2 h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-about2 h3 span{
	color:  lightseagreen;
}

 /*Footer links*/

.footer-about2 .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-about2 .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-about2 .footer-company-name{
	color:  white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

 /*Footer Center*/

.footer-about2 .footer-center{
	width: 35%;
}

.footer-about2 .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-about2 .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-about2 .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-about2 .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-about2 .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-about2 .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-about2 .footer-links .link-1:before {
  content: none;
}

 /*Footer Right*/

.footer-about2 .footer-right{
	width: 20%;
}

.footer-about2 .footer-company-about{
	line-height: 15px;
	color:  white;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-about2 .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-about2 .footer-icons{
  margin-top:5px;
}

.copyright-fruit{
  font: bold 16px sans-serif;
  text-align: center;
  color:  #ffffff;
  margin-top: 10px;
  
}



